.body{
  height: 400px;
}

.icon{
  display: inline-block;
  width: 24px;
  height: 24px;
}
.icon::before{
  display: inline-block;
  width: inherit;
  height: inherit;
}

.icon-fb::before{  
  content: url(./images/icons/facebook.svg);
}
.icon-tw::before{  
  content: url(./images/icons/twitter.svg);
}
.icon-li::before{  
  content: url(./images/icons/linkedin.svg);
}
.icon-in::before{  
  content: url(./images/icons/instagram.svg);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  /* background-color: #f7f7f7; */
  background-color: #fff;
  transition: height .3s;
}

.header__container{
  display: grid;
  grid-template-columns: minmax(100px,200px) 1fr;
  gap: 10px;
  height: 100%;
  align-items: center;
}

.header__img{
  display: block;
  max-height: 100px;
}

.header__items{
  display: flex;
  justify-content: flex-end;
}

.header__item{
  list-style: none;
}

.header__link{
  text-decoration: none;
  padding: 10px 20px;
  color: #818181;
}

.header__link--selected{
  color: #fff;
  background-color: #359EF9;
  border-radius: 20px;
}

.header--move{
  height: 70px;
  box-shadow: 1px 1px 10px 0 #00000010;
}
.header__menu-container{
  display: none;
}
.header__menu{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}
.header__menu:hover{
  background-color: #f5f5f5;
}

.hero{
  margin-top: 100px;
}

.hero__container{
  padding: 60px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  background-image: url(./images/background-cover.svg);
  background-size: cover;
  background-position: bottom;
}
.hero__title{
  color: #373737;
  font-size: 3em;
}
.hero__title--mark{
  color: #FEBA0B;
}
.hero__paragraph{
  color: #373737;
  margin: 20px 0;
}
.hero__cta{
  padding: 10px 20px;
  color: #fff;
  background-color: #FEBA0B;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.hero__cta:hover{
  background-color: #FFCB1C;
}
.hero__vector{
  animation: move_vector 3s infinite;
}
@keyframes move_vector {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
}

.footer{
  background-image: url(./images/background-footer.svg);
  background-size: cover;
  /* background-color: aquamarine;
  -webkit-mask-image: url(./images/background-footer.svg);
  mask-image: url(./images/background-footer.svg);
  -webkit-mask-size: cover; */
}

.footer__boxes{
  padding-top: 120px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  color: #343434;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

.footer__box > [class^="footer__"]:first-child{
  margin-bottom: 10px;
}

.footer__logo{
  width: 40px;
}
.footer__img{
  display: block;
  max-width: 100%;
}

.footer__paragraph{
  max-width: 80%;
}

.footer__items{
  display: flex;
  flex-direction: column;
}
.footer__terms{
  color: #818181;
}
.footer__link{
  color: #818181;
  text-decoration: none;
  padding: 3px 0;
}

.footer__link:hover{
  opacity: .7;
}

.footer__redes .footer__link{
  display: flex;
  align-items: center;
}

.footer__paragraph-copyright{
  color: #818181;
  text-align: center;
  padding: 20px 0;
}


@media (max-width: 576px){
  .hero__container{
    grid-template-columns: 1fr;
  }
  .hero__vector{
    display: none;
  }
}

@media (min-width: 660px){
  .footer__boxes{
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  } 
}

@media (max-width: 768px){
  .header__menu-container{
    display: inline-block;
    text-align: right;
    z-index: 100;
  }
  .header__nav{
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    background-color: #f1faff;
    transition: right .3s;
  }
  .header__nav--show{
    right: 0;
  }
  .header__items{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__item{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero__title {
    font-size: 2.5em;
  }
}

@media (min-width: 900px){
  .footer__boxes{
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  } 
}